@model IEnumerable<HorseRacing.ViewModels.Horses.HorseListVM>

@{
    ViewBag.Title = "ShowHorse";
}

<h2>ShowHorse</h2>

<p>
    @Html.ActionLink("Create New", "CreateHorse")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CountryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GenderName)
    </td>

    <td>
        @Html.ActionLink("Edit", "EditHorse", new { id = item.Id }) |
        @Html.ActionLink("Details", "ShowOneHorse", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteHorse", new { id = item.Id })
    </td>
</tr>
}

</table>
